{% extends "restaurante/base.html" %}
{% load bootstrap %}

{% block contenido %}
<h3>Modificar Cliente
	<small>Modificar los datos del cliente</small>
</h3>
<form role="form" method="post">{% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Editar Cliente</div>
    </div>
    <div class="panel-body">
      
      {{formulario | bootstrap}}

    </div>
    <div class="panel-footer">
      <div class="clearfix">
        <div class="pull-right">
          <input type="submit" value="Modificar" class="btn btn-primary">
          <a href="/clientes" class="btn">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</form>
   

{% endblock contenido %}




