{% extends "restaurante/base.html" %}

{% block contenido %}
<h3>Platos
	<small>administrar sus platos</small>
</h3>
<div class="row">
  <div class="col-lg-12">
    <a
      class="btn btn-primary"
      href="/platos/add/">
      <i class="fa fa-plus"></i>&nbsp;Nuevo Plato</a>
    <br><br>

    <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>IMAGEN</th>
	        <th>NOMBRE</th>
	        <th>DESCRIPCION</th>
	        <th>PRECIO</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for p in platos %}
	    	<tr>
	    		<td>
	    			<img src="/media/{{p.imagen}}" width="120">
	    		</td>
	    		<td>{{p.nombre}}</td>
		        <td class="col-lg-4">{{p.descripcion}}</td>
		        <td>{{p.valor}}</td>
		        <td>
					<a
					  class="btn btn-sm btn-success"
					  href="/platos/edit/{{p.id}}">
					  <i class="fa fa-pencil"></i>
					</a>
					<a
					  class="btn btn-sm btn-danger"
					  data-toggle="modal" data-target="#deleteModal"
					  data-whatever="{{p.id}}"
					  data-whatever2="{{p.nombre}}">
					  <i class="fa fa-trash-o"></i>
					</a>            		
				</td>
	    	</tr>			
		{% endfor %}
	    </tbody>
	</table>
    
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">Eliminar Plato</h4>
      </div>
      <div class="modal-body">
        <div align="center" class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> 
        	¿Esta seguro que desea eliminar el Plato?
          	<h4 align="center"></h4>
        </div>        
        
      </div>
      <div class="modal-footer">         
        <a          
		  class="btn btn-sm btn-danger"
		  href="">
		  <span class="glyphicon glyphicon-ok-sign"></span>
		  Si
		</a>
		<a		  
		  class="btn btn-sm btn-default"
		  data-dismiss="modal">
		  <span class="glyphicon glyphicon-remove"></span>
		  No
		</a>		
      </div>
    </div>
  </div>
</div> 

<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
	  var button    = $(event.relatedTarget) // Button that triggered the modal
	  var idPlato = button.data('whatever') // Extract info from data-* attributes
	  var nombre    = button.data('whatever2')	  
	  var modal     = $(this)
	  var url       = '/platos/delete/'+idPlato;
	  
	  modal.find('.modal-body h4').text(nombre)  	  
	  modal.find('.modal-footer a').attr({'href': url})	  
	})
</script>

{% endblock contenido %}